@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flatpickr/dist/themes/airbnb.css';
@import 'react-toastify/dist/ReactToastify.css';

@layer base {
  // typography
  h1 {
    @apply text-[28px] leading-10 font-bold
      lg:text-[38px];
  }

  h2 {
    @apply text-[24px] leading-7 font-bold
      lg:text-[28px];
  }

  h3 {
    @apply text-[24px] leading-6 font-bold
      lg:text-[20px];
  }

  h4 {
    @apply text-[18px] leading-6 font-bold
      lg:text-[20px];
  }

  small {
    @apply text-sm;
  }

  hr {
    @apply border-gray-200;
  }

  // resets
  html,
  body {
    @apply h-full overflow-auto;

    #__next {
      @apply h-full overflow-auto;
    }
  }

  // table
  table {
    @apply text-left w-full whitespace-nowrap divide-y divide-gray-200;

    thead {
      @apply bg-gray-50;

      th {
        @apply px-6 py-3 font-semibold capitalize;
      }
    }

    tbody,
    tfoot {
      @apply divide-y divide-gray-200;

      td {
        @apply px-6 py-3 align-middle;
      }
    }

    tr {
      th,
      td {
        @apply h-full;
      }
    }
  }
}

@layer components {
  .btn {
    @apply disabled:opacity-75;

    &-primary {
      @apply bg-primary border-primary text-white #{!important};
    }

    &-secondary {
      @apply bg-gray-100 border-gray-100 text-gray-600 #{!important};
    }

    &-outline {
      @apply border-primary text-primary #{!important};
    }

    &-input {
      @apply border-gray-200 text-black #{!important};
    }

    &-light {
      @apply bg-white border-white text-gray-600 #{!important};
    }

    &-error {
      @apply bg-red-600 border-red-600 text-white #{!important};
    }

    &-error-outline {
      @apply bg-white border-red-600 text-red-600 #{!important};
    }
  }

  .modal {
    &-footer {
      @apply flex gap-6 justify-end items-center py-3 px-6 border-t border-gray-200 sticky bottom-0 bg-white;
    }
  }

  .table-responsive {
    @apply overflow-x-auto mb-8;
  }
}

@layer utilities {
  .text-muted {
    @apply text-gray-600;
  }
}
.flatpickr-rContainer {
  width: 100%;

  .flatpickr-monthSelect-months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .flatpickr-monthSelect-month {
      padding: 1rem 0;
      border-radius: 0.5rem;

      &:hover {
        color: #fff;
        cursor: pointer;
        transition: ease-in-out color 0.15s;
        background: rgba(var(--color-primary-rgb), 0.5);
      }

      &.selected {
        background-color: var(--color-primary);
        color: #fff;
      }
    }
  }
}
